<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<!-- Some general parameters -->
	<param name="use_sim_time" value="true" />
	<rosparam file="$(find robodoc_uv_pkg)/param/ros.yaml"/>

	
	<include file="$(find robodoc_uv_pkg)/launch_files/real_test/starthector_slam_sim_ok.launch"/>

	<!-- python nodes -->
	<group ns="python_nodes">
		<node name="publish_arduino" pkg="robodoc_uv" type="publisharduino.py" output="screen"/>
		<node name="keyboard_teleop" pkg="robodoc_uv" type="keyboard_teleop.py" output="screen"/>
	</group>

</launch>
